@media (max-width: 750px) {
  .arrowImagesIncard img {
    display: unset;
  }
  #arrowImages {
    display: none;
  }
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    height: 200px;
  }
}

@media (max-height: 670px) {
  #popUpCardId {
    height: 630px !important;
  }
  .popUpPokemonImageClass img {
    height: 300px;
  }
  .arrowImagesIncard {
    margin-top: 0;
  }
}

/* Imprint */

@media (max-height: 890px) {
  .scroll-box {
    max-height: 300px;
  }
  .div-for-back-to-home-button {
    padding-top: 20px;
  }
}
@media (max-height: 725px) {
  .scroll-box {
    max-height: 200px;
  }
}
